*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:root{
    --c1: red;
    --c2: #029739;
    --c3: #ebebeb; 
}
body{
    background-color: var(--c3);
    display: grid;
    // place-content: center;
    max-width: 100%;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
h1{
    color: var(--c1);
    text-align: center;
    word-spacing: 5px;
}
ul{
    list-style-type: none;
}
li{
    display: inline-block;
    margin: 0 10px;
}
.logo{
    font-weight: 700;
    font-size: 1.5em;
}
nav{
    a{
        font-size: 1em ;
        color: #000;
        font-weight: 700 ;
        transition: 400ms ease;

        &:hover{
            color: var(--c2) ;
            text-decoration: underline;
        }
    }
}
.container{
    background: white;
    max-width: 400px;
    box-shadow: 20px 20px 40px rgb(201, 201, 201);
    border-radius: 1em;
    position: relative;
    padding: 20px;
    margin: 20px auto;
}
.top{
    margin: 0 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;

}
.avatar-img{
    width: 30px;
}
.hero-img{
    width: 500px;
    position: relative;
    right: 50px;
}
p{
    text-align: center;
}
.caption{
    color: var(--c2);
}
.form-container{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
input{
    // display: inline-block;
    margin: 8px 0;
    padding: 10px;
    border: none;
    border-radius: 10px;
    height: 30px;
    outline: none;
    background: #dcdcdc;
}
button{
    height: 50px;
    // padding: 20px;
    margin-top: 8px;
    background-color: red;
    color: white;
    border-radius: 10px;
    border: none;
    transition: 200ms ease-out;
    cursor: pointer;

    &:hover{
        background-color: var(--c2);
        transform:scale(1.01) ;
    }
}
.login{
    color: red;

    &:hover{
        text-decoration: underline;
    }
    &:visited{
        color: var(--c2);
    }
}
